/* Общий контейнер для строки поиска */
.search-bar {
    background-color: #f9f9f9; /* Фон панели поиска */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Легкая рамка */
    border-radius: 8px; /* Закругленные углы */
    padding: 10px 15px; /* Внутренний отступ */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Нежная тень */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130%;
}

/* Контейнер для input и иконки */
.search-input {
    display: flex;
    align-items: center;
    background-color: #fff; /* Белый фон для поля ввода */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Рамка для поля */
    border-radius: 8px;
    padding: 5px 10px; /* Отступы внутри */
    height: 45px; /* Высота блока */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 170%;
}

/* Стили для иконки поиска */
.search-icon {
    width: 23px; /* Размер иконки */
    height: 23px;
    margin-right: 10px; /* Отступ от поля ввода */
}

/* Стили для поля ввода текста */
.inp-text {
    border: none; /* Убираем стандартную рамку */
    outline: none; /* Убираем стандартную подсветку */
    font-size: 16px; /* Размер текста */
    color: #333; /* Цвет текста */
    width: 100%;
    background: transparent; /* Убираем фон */
}

/* Стили для кнопки поиска */
.search-button {
    background-color: #2368f0; /* Основной цвет кнопки */
    color: #fff; /* Цвет текста */
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    height: 45px;
    transition: background-color 0.3s ease; /* Эффект при наведении */
    margin-left: 300px;
}

.search-button:hover {
    background-color: #1e57d8; /* Цвет кнопки при наведении */
}

.search-button:disabled {
    background-color: #a0a0a0; /* Цвет кнопки при отключении */
    cursor: not-allowed;
}

/* Отступы для мобильных устройств */
@media (max-width: 768px) {
    .search-bar {
        flex-direction: column;
        gap: 10px; /* Пространство между элементами */
    }
    .search-input {
        width: 100%;
    }
    .search-button {
        width: 100%;
    }
}
