.containerLoading {
  display: flex;
  align-items: center; /* Центрирует по вертикали */
  justify-content: center; /* Центрирует по горизонтали */
}

.container-2 {
  width: 100vw;
  max-width: 100%;
  position: relative;
  top: 130px;
}

.vacancies-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.vacancies-title h1 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 44px;
  color: black;
  letter-spacing: -0.01em;
  text-align: center;
  max-width: 100%;
}

.vacancies-and-search {
  background-color: #ffffff;
  width: 100%;

}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Обновление на более гибкие карточки */
  gap: 20px;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.vacancies-not-found h1 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 44px;
  color: black;
  letter-spacing: -0.01em;
  text-align: left;
}

/* Стиль для карточек вакансий */
.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px; /* Увеличиваем максимальную ширину карточки */
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05); /* Плавное увеличение карточки при наведении */
}


/* Адаптивность для мобильных экранов */
@media screen and (max-width: 768px) {
  .cards-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* Карточки занимают 100% ширины на мобильных экранах */
    gap: 10px;
  }

  .card-img {
    height: 150px; /* Уменьшаем высоту изображения на мобильных устройствах */
  }

  .card-title {
    font-size: 1.2rem; /* Уменьшаем размер заголовка на мобильных */
  }

  .card-description {
    font-size: 0.9rem; /* Уменьшаем размер описания */
  }

  .card-btn {
    font-size: 14px; /* Уменьшаем размер шрифта для кнопки */
  }

  .btn-favorites {
    margin-top: 10px; /* Уменьшаем отступы кнопок */
  }
}

/* Адаптивность для очень маленьких экранов */
@media screen and (max-width: 480px) {
  .card-title {
    font-size: 1rem; /* Еще меньше шрифт для заголовков */
  }

  .card-description {
    font-size: 0.8rem; /* Уменьшаем шрифт для описания */
  }

  .card-btn {
    font-size: 12px; /* Уменьшаем размер кнопки */
    padding: 6px 12px; /* Уменьшаем отступы внутри кнопки */
  }
}
