
.navbar-container {
    position: fixed;
    top: calc(200px + 350px); /* Хедер + дополнительный отступ */
    right: 0;
    z-index: 1000;
    width: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: auto;
    padding-top: 16px;
}


.navbar-brand {
    font-weight: bold;
    color: #CF0000;
    font-size: 25px;
    transition: color 0.3s ease;
    font-family: 'Arial', sans-serif;
}

.navbar-brand:hover {
    color:#940000
}

.navbar-underline {
    width: 100%;
    height: 2px;
    background-color: red;
    margin-top: 0;
}  

.navbar-nav {
    display: flex;
    margin-left: 0;  /* Убираем стандартные отступы слева */
}

.navbar-nav .nav-link {
    display: block;  /* занимать всю ширину */
    padding: 8px 0; 
    color: black;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: gray;  /* Цвет при наведении */
}

/* Основной стиль для ссылки профиля */
.nav-profile {
    display: inline-block;
    color: black;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-right: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-profile:hover {
    color: gray; /* Цвет при наведении */
}

/* Дополнительный отступ между элементами навигации */
.navbar-nav .nav-link:not(:last-child) {
    margin-bottom: 8px;
}
